.cardWrapper {
  padding: 24px;
  gap: 20px;
  background: #f4f2f0;
}

.imgWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 151px;
  height: 161px;
  border: 2px solid rgb(9 11 73 / 100%);
  border-radius: 16px;
}

.imgWrapper img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 16px;
}

.favorite {
  position: absolute;
  top: 23px;
  right: 39px;
  width: 36px;
  height: 32px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.gender {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  overflow-y: auto;
  color: var(--primary-color);
}

.infoTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}

.description {
  display: none;
}

.linkBlock {
  display: flex;
  gap: 20px;
}

.linkWrapper {
  display: flex;
  gap: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

@media screen and (width >= 768px) {
  .imgWrapper {
    width: 181px;
    height: 193px;
  }

  .infoWrapper {
    gap: 0;
  }

  .infoTitle {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: left;
    margin-bottom: 21px;
  }
}

@media screen and (width >= 1280px) {
  .imgWrapper {
    width: 275px;
    height: 245px;
  }

  .infoTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 43px;
  }

  .linkWrapper {
    font-size: 20px;
    gap: 16px;
  }
}

@media screen and (width >= 1920px) {
  .imgWrapper {
    width: 337px;
    height: 300px;
  }

  .infoTitle {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .description {
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: left;
    margin-bottom: 73px;
  }
}
