.wrapper {
    width: 347px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (width >=1920px) {
    .wrapper{
        width: 375px;
        gap: 24px;
    }
}