.wrapper {
    border-radius: 5px;
}

.attrContainer {
    background: #BBB2A999;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (width >=1920px) {
    .wrapper {
        width: 375px;
    }

    .attrContainer {
        gap: 24px;
    }
}