.navContainer {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--accent-background-color);
  transition: background-color 0.3s ease;
}

.navContainer.scrolled {
  background-color: var(--accent-bgc-transparent);
}

.contentContainer{
  max-width: 402px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 32px;
}

.logoLink img {
  width: 90px;
  height: 32px;
}

.rightBlock {
  display: flex;
  gap: 55px;
}

.hamburgerIcon {
  width: 30px;
  height: 13px;
}

.link {
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.link:hover {
  color: #072341;
}

.link.active {
  font-weight: var(--section-title-font-weight);
}

.navLinks {
  display: none;
}

.authLinks {
  display: none;
}

.loginContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  gap: 10px;
  flex-shrink: 0;
}

.icon {
  fill: white;
  width: 24px;
  height: 20px;
  flex-shrink: 0;
}

.forumLink {
  display: none;
}

.forumLink:hover {
  color: #007bff;
}

.forumIcon {
  width: 48px;
  height: 48px;
}

.loginBtn {
  display: inline-flex;
  width: 95px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--header-background-color);
}

.mobileMenu {
  display: none;
}

.mobileMenu.opened {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: var(--header-mobile-menu-background-color);
  padding: 88px 26px 40px;
}

.closeButton {
  position: absolute;
  top: 31px;
  right: 26px;
  width: 32px;
  height: 32px;
}

.mobileList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileLink {
  width: 100%;
  background-color: var(--card-background-color);
  color: var(--primary-color);
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 20px;
  line-height: 20px;
}

@media screen and (width >=768px) {
  .contentContainer {
    max-width: 768px;
    padding: 34px 69px 34px 37px;
  }

  .hamburgerIcon {
    width: 34px;
    height: 25px;
  }

  .authLinks {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .closeButton {
    top: 34px;
    right: 60px;
    width: 48px;
    height: 48px;
  }
}

@media screen and (width >=1280px) {
  .contentContainer {
    max-width: 1280px;
    padding: 40px 170px 40px 158px;
  }

  .logoLink {
    width: 128px;
    height: 45px;
  }

  .hamburgerIcon {
    width: 34px;
    height: 34px;
  }

  .loginContainer {
    gap: 28px;
  }

  .loginBtn {
    width: 115px;
    padding: 18px 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
  }

  .closeButton {
    top: 54px;
    right: 170px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (width >=1920px) {
  .contentContainer {
    max-width: 1920px;
    padding: 45px 160px 35px 156px;
  }

  .logoLink {
    width: 124px;
    height: 45px;
    margin-right: 92px;
  }

  .hamburgerIcon {
    display: none;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 17px 42px 17px 52px;
    gap: 56px;
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    background-color: var(--header-background-color);
  }

  .loginContainer {
    gap: 20px;
  }

  .forumLink {
    display: block;
  }
}