.wrapper {
    width: 370px;
    height: 504px;
    border-radius: 24px;
    background-color: var(--card-background-color);
    box-shadow: none;
    transition: box-shadow 350ms easy;
}

.wrapper:hover {
    box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 75%);
    box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 75%);
    box-shadow: 2px 2px 8px 1px rgb(0 0 0 / 75%);
}

.imgBlock {
    height: 267px;
}

.imgBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
}

.cardContent {
    width: 100%;
    height: 237px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 21px 17px 17px 25px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.label {
    width: 114px;
    height: 31px;
    display: grid;
    place-items: center;
    border-radius: 16px;
    background-color: var(--primary-color);
    color: var(--text-label-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
}

.cardTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: var(--primary-color);
}

.cardText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-color);
    overflow: hidden;
}

.cardFooter {
    height: 24px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerDate {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--primary-color);
}

.footerButton {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--primary-color);
}

.footerIcon {
    width: 12px;
    height: 24px;
    margin-left: 11px;
}

@media screen and (width >= 768px) {
    .wrapper {
        width: 332px;
        height: 452px;
    }

    .imgBlock {
        height: 240px;
    }

    .cardContent {
        height: 212px;
        padding: 19px 16px 16px 23px;
    }
}

@media screen and (width >= 1280px) {
    .wrapper {
        width: 470px;
        height: 640px;
    }

    .imgBlock {
        height: 340px;
    }

    .cardContent {
        height: 300px;
        padding: 26px 22px 22px 32px;
    }

    .mainInfo {
        gap: 20px;
    }
}

@media screen and (width >= 1920px) {
    .wrapper {
        width: 385px;
        height: 570px;
    }

    .imgBlock {
        height: 224px;
        border-radius: 10px 10px 0 0;
    }

    .cardContent {
        height: 320px;
        padding: 18px 30px 26px;
    }

    .cardTitle {
        font-size: 28px;
        line-height: 28px;
    }

    .cardText {
        font-size: 18px;
        line-height: 27px;
    }
}