.heroWrapper {
    width: 100vw;
    padding-top: 77px;
    padding-left: 23px;
    background-color: #fff;
    background-image: url('/src/assets/img/hero.png');
    background-repeat: no-repeat;
    background-size: 236px 211px;
    background-position: right -10px top 6px;
}

.heroTitle {
    font-family: var(--hero-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-transform: lowercase;
    color: var(--primary-color);
    margin-bottom: 24px;
    width: 186px;
}

.heroTitle .highlight {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
}

.heroTitle .highlight span {
    margin-right: 100px;
}

.heroTitle .highlight .bigText {
    font-size: 40px;
}

.heroButton {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 28px;
    padding: 6px 0;
}

@media screen and (width >= 768px) {
    .heroWrapper {
        padding-left: 40px;
        background-size: 492px 439px;
        background-position: top 42px right -24px;
    }

    .heroTitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        width: 319px;
        margin-bottom: 48px;
    }

    .heroTitle .highlight {
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
    }

    .heroTitle .highlight span {
        margin-right: 0;
    }

    .heroTitle .highlight .bigText {
        font-size: inherit;
    }

    .heroButton {
        margin-bottom: 190px;
        font-size: 16px;
        line-height: 22.4px;
        padding: 13px 0;
    }
}

@media screen and (width >= 1280px) {
    .heroWrapper {
        padding-left: 160px;
        padding-top: 166px;
        background-size: 722px 707px;
        background-position: top 64px right 12px;
    }

    .heroTitle {
        font-size: 30px;
        line-height: 42px;
        width: 454px;
        margin-bottom: 68px;
    }

    .heroTitle .highlight {
        font-size: 50px;
        line-height: 62.5px;
    }

    .heroButton {
        margin-bottom: 281px;
        padding: 18px 0;
        font-size: 18px;
        line-height: 25.2px;
    }
}

@media screen and (width >= 1920px) {
    .heroWrapper {
        padding-top: 192px;
        padding-left: 160px;
        background-size: 926px 829px;
        background-position: top 116px right 68px;
    }

    .heroTitle {
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        margin-bottom: 112px;
        width: 735px;
    }

    .heroTitle .highlight {
        font-size: 72px;
        line-height: 90px;
    }

    .heroButton {
        margin-bottom: 378px
    }
}