.container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.container.card {
  gap: 12px;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.icon {
  width: 26px;
  height: 26px;
  fill: var(--primary-color);
  transition: fill 0.3s;
}

.icon.card {
  width: 16px;
  height: 16px;
}

.link:hover .icon {
  fill: #1f14be;
}

@media screen and (width >= 768px) {
  .container {
    gap: 18px;
  }

  /* .icon {
    width: 27px;
    height: 27px;
  }   */
}

@media screen and (width >= 1280px) {
  .container {
    gap: 16px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .icon.card {
    width: 20px;
    height: 20px;
  }
}

@media screen and (width >= 1920px) {
  .icon {
    width: 40px;
    height: 40px;
  }

  .icon.card {
    width: 26px;
    height: 26px;
  }
}