.wrapper {
    width: 100%;
}

.sliderContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
    height: 504px;
}

.blogSlider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 0;
    overflow: hidden;
}

.list {
    display: flex;
    gap: 20px;
    width: inherit;
    transition: margin-left 350ms;
}

.previewWrapper {
    display: none;
}

.previewImg {
    object-fit: cover;
    width: 385px;
    height: 100%;
    border-radius: 16px 0 0 16px;
}

.previewContent {
    width: 405px;
    height: 100%;
    padding: 19px 39px 29px 20px;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-background-color);
}

.previewMainInfo {
    display: flex;
    flex-direction: column;
}

.label {
    width: 114px;
    height: 31px;
    padding: 6px 20px;
    border-radius: 16px;
    background-color: var(--primary-color);
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

.blogTitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.blogText {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--primary-color);
    overflow: hidden;
}

.previewFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerDate {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--primary-color);
}

.footerButton {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: var(--primary-color);
}

.footerIcon {
    width: 24px;
    height: 24px;
    margin-left: 11px;
}

@media (width >= 768px) {
    .sliderContainer {
        height: 452px;
        margin-bottom: 50px;
    }
}

@media (width >= 1280px) {
    .sliderContainer {
        height: 640px;
        margin-bottom: 40px;
    }
}

@media (width >= 1920px) {
    .sliderContainer {
        height: 570px;
    }

    .blogSlider {
        width: 1195px;
        margin-right: -161px;
    }

    .previewWrapper {
        display: flex;
        width: 788px;
        height: 100%;
        border-radius: 16px;
    }
}