.blocks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.message{
  width: 300px;
  font-size: 36px;
  margin-bottom: 60px;
}

.pawContainer {
  display: flex;
  gap: 40px; /* расстояние между лапками */
}

.paw { /* размер лапки */
  width: 150px;
}

.paw.left{
  animation: step 0.8s infinite alternate;
}

.paw.right {
  animation: step-right 0.8s infinite alternate;
  animation-delay: 0.3s; /* правая лапка начинает чуть позже */
}

@keyframes step {
  from {
    transform: translateY(0) rotate(0deg);
  }

  to {
    transform: translateY(-25px) rotate(-15deg);
  }
}

@keyframes step-right {
  from {
    transform: translateY(0) rotate(0deg);
  }

  to {
    transform: translateY(-25px) rotate(15deg);
  }
}

