.pageSection {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #000;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.backIcon{
    width: 20px;
    height: 20px;
}

.infoBlock {
    display: flex;
    gap: 20px;

}

.left {
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.editIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.nameText {
    font-weight: 600;
    margin-bottom: 8px;
}

.nameValue {
    font-weight: 700;
}

.socialIcon {
    width: 20px;
    height: 20px;
}

.socialLinks {
    display: flex;
    gap: 12px;
    padding: 3px 12px;
}

.socialLink {
    display: flex;
    gap: 2px;
    align-items: center;
}

.announcementItem {
    width: 385;
    height: 128;
    border-radius: 30px;
    background: #D9D9D9;
    padding: 26px 28px;
    cursor: pointer;
}

.announcementList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}