.statisticsSection {
    margin-bottom: 80px;
}

.subTitle {
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 16px;
}

.textContainer {
    position: relative;
}

.textWrapper {
    position: relative;
    overflow: hidden;
    transition: max-height 0.4s ease;
    max-height: 259px;
    column-count: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 16px;
}

.expanded {
    max-height: 2000px;

    /* достаточное значение для всего текста */
}

.ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 0.3em;
}

.toggleLink {
    font-weight: bold;
    cursor: pointer;
    padding-left: 0.3em;
}

.statisticsWrapper {
    max-width: 320px;
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
}

.statisticsItem {
    flex: 1;
    padding: 22px;
    background: var(--card-background-color);
    border-radius: 16px;
    box-shadow: 0 0 12px 0 #0000000A;
}

.statisticsItem h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
}

.statisticsItem p {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
}

.statisticsItem.hide {
    display: none;
}

@media (width >=768px) {
    .statisticsSection {
        margin-bottom: 0;
    }

    .subTitle {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .textWrapper {
        column-count: 2;
        column-gap: 24px;
        font-size: 14px;
        line-height: 1.5;
        max-height: none !important;
        overflow: visible;
    }

    .ellipsis,
    .toggleLink {
        display: none;
    }

    .statisticsWrapper {
        max-width: 490px;
        gap: 20px;
    }

    .statisticsItem h5 {
        font-size: 14px;
        line-height: 14px;
    }

    .statisticsItem p {
        font-size: 32px;
    }

    .statisticsItem.hide {
        display: block;
    }
}

@media (width >=1280px) {
    .subTitle {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .textWrapper {
        column-gap: 30px;
        font-size: 16px;
        line-height: 34px;
    }

    .statisticsWrapper {
        max-width: 830px;
        gap: 40px;
    }

    .statisticsItem h5 {
        font-size: 16px;
        line-height: 16px;
    }

    .statisticsItem p {
        font-size: 48px;
    }
}

@media (width >=1920px) {
    .subTitle {
        font-size: 32px;
    }

    .textWrapper {
        column-gap: 40px;
        font-size: 20px;
    }

    .statisticsItem h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .statisticsItem p {
        font-size: 48px;
    }
}