:root {
    --breakpoint-xs: 402px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1280px;
    --breakpoint-lg: 1920px;

    /* colours */
    --primary-color: #090B49;
    --secondary-color: #FEFFFA;
    --accent-color: #F00;
    --muted-text-clor: #7F7E7C;
    --text-label-color: #EBEBEB;
    --hover-accent-color: #6b0a0a;
    --secondary-background-color: #E8E4DF;
    --accent-background-color: rgb(209 200 191 / 100%);
    --accent-bgc-transparent: rgb(209 200 191 / 92%);
    --card-hero-background-color: #A39180;
    --card-background-color: #FFFEFE;
    --component-background-color: #BBB2A9;
    --header-background-color: #FFFFFF40;
    --header-mobile-menu-background-color: #D9D9D9;
    --elemetnt-background: #EDEDED;


    /* fonts */
    --font-family: 'Inter', sans-serif;
    --hero-font-family: 'Lexend', sans-serif;
    --terms-font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --text-font-weight: 400;

    /* section styles */
    --section-title-font-size: 48px;
    --section-tiltle-font-size-tablet: 24px;
    --section-title-font-size-mobile: 20px;
    --section-title-font-weight: 700;
    --section-title-line-height: 1;
    --section-title-text-align: center;
    --section-title-margin-bottom-mob: 16px;
    --section-title-margin-bottom: 64px;
    --section-margin-bottom-desk: 104px;
    --section-margin-bottom-laptop: 104px;
    --section-margin-bottom-tablet: 64px;
    --section-margin-bottom-mobile: 24px;

    /* container styles */
    --max-width: 1920px;
    --margin: 0 auto;
    --padding: 0 16px;
    --padding-tablet: 0 40px;
    --padding-laptop: 0 150px;
    --padding-desktop: 0 160px;
    --button-border-radius: 24px;
}