:root {
    --breakpoint-xs: 402px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1280px;
    --breakpoint-lg: 1920px;
    --primary-color: #090B49;
    --secondary-color: #FEFFFA;
    --accent-color: #F00;
    --hover-accent-color: #6b0a0a;
    --main-background-color: #FEFFFF;
    --secondary-background-color: #E8E4DF;
    --accent-background-color: rgb(209 200 191 / 100%);
    --accent-bgc-transparent: rgb(209 200 191 / 40%);
    --card-hero-background-color: #A39180;
    --component-background-color: #BBB2A9;
    --header-background-color: #FFFFFF40;
    --font-family: 'Inter', sans-serif;
    --hero-font-family: 'Lexend', sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --text-font-weight: 400;
    --section-title-font-size: 48px;
    --section-title-font-weight: 700;
    --section-title-line-height: 58.09px;
    --section-title-text-align: center;
    --section-title-margin-bottom: 80px;
    --max-width: 1920px;
    --margin: 0 auto;
    --padding: 0 160px;
    --button-border-radius: 24px;
}