.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1195px;
    width: 100%;
    max-height: 3131px;
    margin-top: 80px;
}

.item {
    margin-bottom: 44px;
    flex-basis: calc((100% - 40px) / 3);
}

@media screen and (width>=768px) {
    .container {
        max-width: 688px;
        margin: 80px auto 0;
    }
}

@media screen and (width>=1280px) {
    .container {
        gap: 20px;
        max-width: 634px;
        width: 100%;
        margin-top: 0;
    }

    .item {
        margin-bottom: 44px;
        flex-basis: calc((100% - 40px) / 2);
    }
}

@media screen and (width>=1920px) {
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1195px;
        width: 100%;
        max-height: 3131px;
    }

    .item {
        margin-bottom: 44px;
        flex-basis: calc((100% - 40px) / 3);
    }
}