.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1195px;    
    width: 100%;  
    max-height: 3131px; 
}

.item {
    margin-bottom: 44px;  
    flex-basis: calc((100% - 40px) / 3); 
}