.wrapper {
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.list {
    display: flex;
    gap: 16px;
    width: inherit;
    transition: margin-left 350ms;
    margin-bottom: 8px;
}

.toAllShelters {
    position: absolute;
    padding: 4px 21px;
    bottom: 0;
    right: 0;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (width >= 768px) {
    .wrapper{
        max-width: 687px;
    }

    .list {
        margin-bottom: 32px;
        gap: 24px;
    }
}

@media screen and (width >= 1280px) {
    .wrapper{
        max-width: 958px;
    }

    .list {
        margin-bottom: 40px;
        gap: 20px;
    }    

    .toAllShelters{
        font-size: 20px;
    }
}

@media screen and (width >= 1920px) {
    .wrapper{
        max-width: 1600px;
    }    
}