.form {
    width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
    }

    .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: var(--primary-color);
    }

    .input {
        padding: 13.5px 16.5px;
        width: 100%;
        border-radius: 24px;
        border: 1px solid #7F7E7C;
        background: #FFFFFF80;
        font-size: var(--font-size);
        font-weight: var(--text-font-weight);
        line-height: 16px;
        color: var(--primary-color);
    }

    .text {
        width: 284px;
        font-size: 12px;
        font-weight: var(--text-font-weight);
        line-height: 18px;
        color: #fff;
        margin-bottom: 3px;
    }

    .thanking {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 18px;
        border-radius: 24px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
        background-color: #696969;
    }

@media screen and (width >= 768px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;
    }

    .input {
        padding: 15.5px 27.5px;
        width: 528px;
        border-radius: 24px;
        border: 1px solid #7F7E7C;
        background-color: rgb(255 255 255 / 50%);
        font-size: 16px;
        font-weight: var(--text-font-weight);
        line-height: 16px;
        color: #000;
    }

    .text {
        width: 580px;
        font-size: 16px;
        font-weight: var(--text-font-weight);
        line-height: 24px;
        color: #fff;
        margin-bottom: 3px;
    }

    .thanking {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 18px;
        border-radius: 24px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
        background-color: #696969;
    }
}

@media screen and (width >= 1280px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .title {
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        color: #fff;
    }

    .input {
        padding: 23.5px;
        width: 836px;
        border-radius: 24px;
        border: 1px solid #7F7E7C;
        background-color: rgb(255 255 255 / 50%);
        font-size: 22px;
        font-weight: var(--text-font-weight);
        line-height: 22px;
        color: #000;
    }

    .text {
        width: 836px;
        font-size: 19px;
        font-weight: var(--text-font-weight);
        line-height: 28.5px;
        color: #fff;
    }

    .thanking {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 18px;
        border-radius: 24px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
        background-color: #696969;
    }
}

@media screen and (width >= 1920px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .title {
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        color: #fff;
    }

    .input {
        padding: 17px 44px;
        width: 580px;
        border-radius: 24px;
        border: 1px solid #7F7E7C;
        background-color: rgb(255 255 255 / 50%);
        font-size: 22px;
        font-weight: var(--text-font-weight);
        line-height: 22px;
        color: #000;
    }

    .text {
        width: 580px;
        font-size: 19px;
        font-weight: var(--text-font-weight);
        line-height: 28.5px;
        color: #fff;
    }

    .thanking {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 18px;
        border-radius: 24px;
        font-weight: 600;
        line-height: 25px;
        color: #fff;
        background-color: #696969;
    }
}

.input ::placeholder {
    color: #000;
}

.input:focus {
    color: #434342 !important;
    border: 1px solid #6d6c6c;
    outline: none;
}

.hidden {
    animation: slidein 3s forwards;
}

.button { 
    display: block;   
    width: 220px;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}

@keyframes slidein {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}