.cardWrapper {
  height: 278px;
}

.cardWrapper:hover {
  box-shadow: 5px 5px 10px #c7c7c7,
    5px 5px 10px #f9f9f9;
}

.imgWrapper {
  width: 100%;
  height: 94px;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card-hero-background-color);
}

.imgWrapper img {
  width: 115px;
  height: 86px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.contentWrapper {
  height: 184px;
  width: 100%;
  padding: 8px 16px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary-color);
  background-color: var(--card-background-color);
}

.lacation {
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 16px;
}

.locationIcon {
  width: 9px;
  height: 11px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
}

.description {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 25px;
}

.socialBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goSocial {
  width: 45px;
  height: 45px;
  fill: #000;
  transition: fill 0.3s;
}

.goSocial:hover {
  fill: #0056b3;
}

@media screen and (width >= 768px) {
  .imgWrapper {
    height: 114px;
  }

  .imgWrapper img {
    width: 150px;
    height: 96px;
  }

  .contentWrapper {
    height: 221px;
    padding: 10px 24px 24px 15px;
  }

  .lacation {
    font-size: 12px;
    line-height: 12px;
    gap: 9px;
    margin-bottom: 12px;
  }

  .locationIcon {
    width: 14px;
    height: 18px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .description {
    font-size: 12px;
    line-height: 16.8px;
    margin-bottom: 18px;
  }
}

@media screen and (width >= 1280px) {
  .cardWrapper{
    height: 470px;
  }

  .imgWrapper {
    height: 187px;
  }

  .imgWrapper img {
    width: 222px;
    height: 142px;
  }

  .contentWrapper {
    height: 283px;
    padding: 10px 26px 20px;
  }

  .lacation {
    font-size: 17px;
    line-height: 17px;
    gap: 9px;
    margin-bottom: 14px;
  }

  .title {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 12px;
  }

  .description {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 18px;
  }
}

@media screen and (width >= 1920px) {
  .cardWrapper{
    height: 554px;
  }

  .contentWrapper {
    height: 367px;
    padding: 10px 34px 34px;
  }
}