.subscription {
    position: relative;
    width: 100%;
    padding: 124px 80px 204px 934px;    
    margin-bottom: 120px;
    border-radius: var(--button-border-radius);
    background-color: #ADB2B8;
    background-image: url('../../../assets/img/subscriptImage.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}