.subscription {
    position: relative;
    padding: 22px 22px 32px;
    display: flex;
    justify-content: flex-start;
    border-radius: var(--button-border-radius);
    background: url('../../../assets/img/subscriptImage.png'),
    linear-gradient(90deg, #b7bdc5fa 50%, #9195a59c 50%);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% + 105px) bottom, center;
    background-size: contain, cover;
}

@media screen and (width >= 768px) {
    .subscription {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 104px;
        background-position: calc(100% + 205px) bottom, center;
    }

}

@media screen and (width >= 1280px) {
    .subscription {
        padding-left: 62px;
        padding-top: 76px;
        padding-bottom: 258px;
        background-position: calc(100% + 285px) bottom, center;
    }
}

@media screen and (width >= 1920px) {
    .subscription {
        padding-top: 124px;
        padding-right: 80px;
        padding-bottom: 285px;
        justify-content: flex-end;
        background-position: left bottom, center;
    }
}