.subscription {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 96px;
    display: flex;
    justify-content: flex-start;
    border-radius: var(--button-border-radius);
    background: url('../../../assets/img/subscriptImage.png'),
    linear-gradient(90.16deg, #B7BBC6 28.96%, #AEB3BA 89.22%)     ;
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% + 105px) bottom, center;
    background-size: contain, cover;
    margin-bottom: var(--section-margin-bottom-mobile);
}

@media screen and (width >= 768px) {
    .subscription {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 96px;
        background-position: calc(100% + 205px) bottom, center;
        margin-bottom: var(--section-margin-bottom-tablet);
    }

}

@media screen and (width >= 1280px) {
    .subscription {
        padding-left: 62px;
        padding-top: 76px;
        padding-bottom: 258px;
        background-position: calc(100% + 285px) bottom, center;
        margin-bottom: var(--section-margin-bottom-laptop);
    }
}

@media screen and (width >= 1920px) {
    .subscription {
        padding-top: 124px;
        padding-right: 80px;
        padding-bottom: 204px;
        justify-content: flex-end;
        background-position: left bottom, center;
        margin-bottom: var(--section-margin-bottom-desk);
    }
}