.wrapper {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  border-top: 1px solid #ddd;
  padding: 90px 32px 13px;
  background-color: var(--accent-background-color);
  width: 100vw;
}

@media screen and (width >= 768px) {
  .wrapper {
    padding: 139px 40px 10px;
  }
}

@media screen and (width >= 1280px) {
  .wrapper {
    padding: 88px 160px 32px;
  }
}

@media screen and (width >= 1920px) {
  .wrapper {
    padding: 98px 163px 36px 160px;
  }
}

.footerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 148px;
}

@media screen and (width >= 768px) {
  .footerContainer {
    margin-bottom: 24px;
  }
}

@media screen and (width >= 1280px) {
  .footerContainer {
    margin-bottom: 40px;
  }
}

@media screen and (width >= 1920px) {
  .footerContainer {
    margin-bottom: 76px;
  }  
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 128px;
  height: 45px;
  margin-bottom: 24px;
}

@media screen and (width >= 768px) {
  .logo {
    width: 88px;
    height: 32px;
    margin-bottom: 16px;
  }
}

@media screen and (width >= 1280px) {
  .logo {
    width: 128px;
    height: 45px;
    margin-bottom: 24px;
  }
}

.infoItem {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  width: 180px;
}

@media screen and (width >= 768px) {
  .infoItem {
    font-size: 16px;
    width: 320px;
  }
}

@media screen and (width >= 1280px) {
  .infoItem {
    font-size: 20px;
    width: 405px;
  }
}

@media screen and (width >= 1920px) {
  .infoItem {
    font-size: 22px;
    line-height: 1.5;
    width: 410px;
  }  
}

.infoItem:nth-child(3) {
  margin-bottom: 16px;
}

@media screen and (width >= 768px) {
  .infoItem:nth-child(3) {
    margin-bottom: 12px;
  }
}

@media screen and (width >= 1280px) {
  .infoItem:nth-child(3) {
    margin-bottom: 24px;
  }
}

.contactsContainer {
  position: absolute;
  top: 243px;
  left: 50%; 
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (width >= 768px) {
  .contactsContainer {
    top: -61px;
  }
}

@media screen and (width >= 1280px) {
  .contactsContainer {
    top: 0;
    gap: 10px;
  }  
}

.phone {
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

@media screen and (width >= 1280px) {
  .phone {
    font-size: 40px;
  }    
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 70px;
  gap: 11px;
}

@media screen and (width >= 768px) {
  .navContainer {
    margin-top: 0;
    gap: 16px;
  }
}

@media screen and (width >= 1280px) {
  .navContainer {
    gap: 24px;
  }
}

.policyWrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

@media screen and (width >= 768px) {
  .policyWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

.policyContainer {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media screen and (width >= 768px) {
  .policyContainer {
    gap: 40px;
  }
}

@media screen and (width >= 1280px) {
  .policyContainer {
    gap: 60px;
  }
}

@media screen and (width >= 1920px) {
  .policyContainer {
    height: 100px;
  }
}

.policyItem {
  font-family: var(--terms-font-family);
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
}

@media screen and (width >= 768px) {
  .policyItem {
    font-size: 14px;
    line-height: 28px;
  }
}

@media screen and (width >= 1280px) {
  .policyItem {
    font-size: 20px;
    line-height: 28px;
  }  
}

@media screen and (width >= 768px) {
  .policyItem:nth-child(3) {
    display: none;
  }
}

@media screen and (width >= 1920px) {
  .policyItem:nth-child(3) {
    display: block;
  }
}

.policyCreated {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

@media screen and (width >= 768px) {
  .policyCreated {    
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (width >= 1280px) {
  .policyCreated {
    font-size: 20px;
    line-height: 20px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (width >= 768px) {
  .link {
    font-size: 16px;    
    font-weight: 400;
  }
}

@media screen and (width >= 1280px) {
  .link {
    font-size: 20px;
  }
}

@media scrinen and (width >= 1920px) {
  .link {
    font-size: 22px;
  }
}

.active {
  color: #1f14be;
}

.link:hover {
  color: #1f14be;
}

a {
  text-decoration: none;
}

.scrollToTopBtn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.3s;
  margin: 20px;
  position: absolute;
  bottom: 460px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollToTopBtn:hover {
  background-color: #1f14be;
}

@media screen and (width >=768px) {
  .scrollToTopBtn {
    bottom: 318px;
    right: 55px;
  }
}

@media screen and (width >=1280px) {
  .scrollToTopBtn {
    width: 104px;
    height: 104px;
    bottom: 345px;
    right: 160px;
  }
}

@media screen and (width >=1920px) {
  .scrollToTopBtn {
    width: 120px;
    height: 120px;
    bottom: 456px;
    right: 163px;
  }
}

.icon {
  width: 72px;
  height: 80px;
}