/* OwnerDropDown.module.css */
.dropdownContainer {
    position: relative;
    width: 100%;
}

.dropdownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d5db;
    padding: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.headerRight {
    display: flex;
    gap: 0.75rem;
}

.dropdownMenu {
    width: 100%;
    background-color: #d1d5db;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chevronIcon {
    transition: transform 0.3s ease-in-out;
}

.chevronRotated {
    transform: rotate(180deg);
}