.button {
    width: 355px;
    background: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 0;
    border-radius: var(--button-border-radius);
    transition: background 0.3s;
}

.button:hover {
    background: var(--hover-accent-color);
}

.sectionTitle {
    font-family: var(--font-family);
    font-size: var(--section-title-font-size-mobile);
    font-weight: var(--section-title-font-weight);
    line-height: var(--section-title-line-height);
    text-align: var(--section-title-text-align);
    margin-bottom: var(--section-title-margin-bottom-mob);
}

.followMe {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

@media screen and (width >=768px) {
    .button {
        width: 244px;
        padding: 13px 0;
        font-size: 16px;
        line-height: 22.4px;
    }

    .sectionTitle {
        font-size: var(--section-tiltle-font-size-tablet);
    }

    .followMe {
        width: 30px;
        height: 30px;
    }
}

@media screen and (width >=1280px) {
    .button {
        width: 322px;
        padding: 18px 0;
        font-size: 18px;
        line-height: 25.2px;
    }

    .sectionTitle {
        font-size: var(--section-title-font-size);
    }

    .followMe {
        width: 45px;
        height: 45px;
    }
}