.container{    
    padding: var(--padding);
    margin: var(--margin);
}

@media screen and (width >= 768px) {
    .container{
        padding: var(--padding-tablet);
    }    
}

@media screen and (width >= 1280px) {
    .container{
        padding: var(--padding-laptop);
    }    
}

@media screen and (width >= 1920px) {
    .container{
        padding: var(--padding-desktop);
    }    
}